#title{
    height: 71px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    h3{
        float: left;
        font-size: 15px;
        height: 71px;
        line-height: 71px;
        width: 130px;
        padding-left: 64px;
    }
    button{
        float: right;
        height: 71px;
        width: 180px;
        border: 0;
        border-left: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        line-height: 71px;
        background-color: #fff;
    }
}