@charset "UTF-8";
/* 清样式 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
ol,
dl,
dt,
dd,
input {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
}

/* 定义全局样式 */
body {
  font-size: 12px;
  font-family: "微软雅黑";
  height: 2854px;
  color: #3e3e3e;
  background-color: #fff;
}

body.mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2854px;
  background-color: black;
  opacity: .7;
  z-index: 2;
}

html {
  background-color: #fff;
}

/* 定义超链接样式 */
a {
  text-decoration: none;
}

/* 公共样式 */
.l {
  float: left;
}

.r {
  float: right;
}

.w {
  width: 1772px;
  margin: 0 auto;
}

@font-face {
  font-family: "iconfont";
  src: url("../assets/icons/iconfont.eot");
  src: url("../assets/icons/iconfont.eot?#iefix") format("embedded-opentype"), url("../assets/icons/iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"), url("../assets/icons/iconfont.ttf") format("truetype"), url("../assets/icons/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  height: 138px;
  overflow: hidden;
  background-color: #fff;
}

header .all {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 138px;
  z-index: 1;
}

header .all .top {
  height: 47px;
  border-bottom: 1px solid #ccc;
}

header .all .top .w {
  height: 47px;
}

header .all .top .w .l {
  width: 268px;
  height: 100%;
  line-height: 47px;
}

header .all .top .w .l .first {
  width: 134px;
  height: 100%;
}

header .all .top .w .l .first span {
  font-size: 22px;
}

header .all .top .w .l .first p {
  font-size: 15px;
  display: inline;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

header .all .top .w .l .second {
  width: 134px;
  height: 100%;
}

header .all .top .w .l .second span {
  font-size: 22px;
}

header .all .top .w .l .second p {
  font-size: 15px;
  display: inline;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

header .all .top .w .r {
  width: 240px;
  height: 47px;
  line-height: 47px;
}

header .all .top .w .r li {
  width: 60px;
  height: 47px;
  text-align: right;
}

header .all .top .w .r li a {
  color: black;
}

header .all .top .w .r li a span {
  font-size: 22px;
  cursor: pointer;
}

header .all .top .w .r li span {
  font-size: 22px;
}

header .all .bottom {
  height: 90px;
}

header .all .bottom h1 {
  line-height: 90px;
}

header .all .bottom ul {
  width: 405px;
  margin-left: 60px;
}

header .all .bottom ul li {
  margin-left: 32px;
  text-align: center;
}

header .all .bottom ul li a {
  color: black;
  display: block;
  height: 90px;
  line-height: 90px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  border-bottom: 1px solid transparent;
}

header .all .bottom ul li a:hover {
  border-bottom: 1px solid black;
}

header .all .bottom ul li.first {
  margin-left: 0;
}

header .all .bottom div.search {
  width: 520px;
  height: 90px;
  line-height: 90px;
  position: relative;
}

header .all .bottom div.search input {
  width: 480px;
  background-color: #f6f5f3;
  border: 0;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -20px;
  font-size: 18px;
}

header .all .bottom div.search input::-webkit-input-placeholder {
  position: relative;
  font-size: 18px;
  top: 1px;
  color: #999;
}

header .all .bottom div.search input:-ms-input-placeholder {
  position: relative;
  font-size: 18px;
  top: 1px;
  color: #999;
}

header .all .bottom div.search input::-ms-input-placeholder {
  position: relative;
  font-size: 18px;
  top: 1px;
  color: #999;
}

header .all .bottom div.search input::placeholder {
  position: relative;
  font-size: 18px;
  top: 1px;
  color: #999;
}

header .all .bottom div.search span {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  background-color: #f6f5f3;
  display: block;
  font-size: 22px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  z-index: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: default;
  font-weight: bold;
}

header #cart-in {
  cursor: pointer;
}

#banner {
  width: 100%;
  height: 312px;
}

#banner img {
  width: 100%;
}

main {
  width: 1588px;
  margin: 0 auto;
  height: 1012px;
  position: relative;
  top: 210px;
}

main .zhanghu, main .wish, main .dingdan {
  position: absolute;
  top: 0;
  left: 0;
  width: 785px;
  height: 506px;
  background-color: #fff;
}

main .zhanghu h2, main .wish h2, main .dingdan h2 {
  border-bottom: 1px solid #ccc;
  font-size: 26px;
  height: 98px;
  width: 100%;
  padding: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .zhanghu div.p, main .wish div.p, main .dingdan div.p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px;
}

main .zhanghu div.p p, main .wish div.p p, main .dingdan div.p p {
  height: 28px;
  line-height: 28px;
  font-size: 15px;
}

main .zhanghu div.btn, main .wish div.btn, main .dingdan div.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px;
}

main .zhanghu div.btn button, main .wish div.btn button, main .dingdan div.btn button {
  width: 100%;
  height: 48px;
  font-size: 13px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  background-color: #000;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .zhanghu div.btn button:hover, main .wish div.btn button:hover, main .dingdan div.btn button:hover {
  color: #000;
  background-color: #ddd;
}

main .wish {
  height: 300px;
  position: absolute;
  left: 0;
  top: 527px;
}

main .wish p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

main .dingdan {
  left: auto;
  right: 0;
  height: 300px;
}

main .dingdan p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

body {
  background-color: #f6f5f3;
}

#index {
  cursor: pointer;
}

#name {
  position: fixed;
  border: 1px solid #000;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  background-color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  top: 74px;
  right: 65px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
}

#name:hover {
  background-color: red;
  color: #fff;
  border: 1px solid red;
}
/*# sourceMappingURL=myLv.css.map */